*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(237, 227, 227);
 
    
}


.header{
    background-image: url("./images/cover2.avif");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 15px;
}
.logopic{
    width: 200px;
    height: 70px;

}
.container{
    padding: 15px 15px 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    

}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;

    

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: rgb(89, 89, 227);
    bottom: -3px;
    left: 0;
    transition: .5s;
}
nav ul li a:hover::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background: rgb(89, 89, 227);
    bottom: -3px;
    left: 0;
   
}


.mainhead{
    color: white(213, 181, 181);
    font-family: Georgia, serif;
    margin-top:70px;
    margin-left: 500px;
}
.about{
    width:100%;
    height: 80vh;
    margin-top: 15px;
    border-radius: 5px;    
    background-color:rgb(68, 64, 64);
    display: grid;
  
}


.abt-container{
    
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;
    margin-top: 10px;
}
.abthead{
    margin-top: 30px;
    width: 100%;
}

.box{
    border-radius: 5px;
    
    width: 20%;
    height: 45vh;
    transition: transform 0.5s;
    
}
.box p{
 
    text-align: center;
}

.box p a{
    text-decoration: none;
    color: white;
   
}
.box:hover{
    transform: translateY(-10px);

}
.box h1{
    text-align: center;
}
.box1{
    background-image: url("./images/box1.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
}
.box2{
    background-image: url("./images/box2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.box3{
    background-image: url("./images/box3.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
}
.about h1{
    text-align: center;
}


.markquee{
    
    margin-top: 20px;
    width: 100%;
    
    align-items: center;
    position: relative;
   
}

.markquee marquee{
    position: absolute;
    padding: 15px;
    width: 80%;
    height: 60px;
    left: 10%;
    background-color: rgb(151, 151, 173);

}


.membership{
    height:50vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}
.membercontainer{
    height:50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}
.type1{
    background:linear-gradient(rgba(0,0,0,0.6),rgb(140, 21, 244));
    border-radius: 5px;
    width: 22%;
    text-align: center;
    padding: 10px;
    position: relative;
    
}

.typebody ul li i{

    margin-right: 10px;
    margin-left: 10px;

}


.typebody{

    width: 90%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),rgb(226, 122, 122));
    border-radius: 10px;
    position: absolute;
    left: 22px;
    bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    text-align: center;
    justify-content: center;
    transition: height 0.5s;
   
   
}
.type1:hover .typebody{
    height: 80%;
    padding-top: 30px;
}








.aboutus{
    height:50vh;
    width: 100%;
    margin-top: 200px;
   
}

.uscontainer{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}

.leftus{
    width: 50%;
    height: 70vh;
    background-color: rgb(5, 5, 7);
    margin-left: 30px;
    border-radius: 5px;
    color: white;
    transition: .5s;
}

.leftus:hover{
    background-color: grey

    
}
.rightus{
    width: 40%;
    height: 70vh;
    background-image: url("./images/aboutcover.webp");
    background-position: center;
    background-size: cover;
    animation: change 10s infinite;
    border-radius: 5px;
}
@keyframes change{
    0%{
        background-image: url("./images/aboutcover2.jpg");
    }
    20%{
        background-image: url("./images/aboutcover3.webp");
    }
    40%{
        background-image: url("./images/aboutcover4.jpg");
    }
    60%{
        background-image: url("./images/aboutcover5.jpg");
    }
    80%{
        background-image: url("./images/aboutcover6.jpg");
    }
100%{
        background-image: url("./images/aboutcover.webp");
    }
}


/*---------Our services-------------*/


.ourservices{
    margin-top: 120px;
    height: 70vh;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
.servicecontainer{
    height: 70vh;
}
.servicelist{
    margin-left: 5px;
    height: 70vh;
    margin-right: 5px;
    margin-top: 15px;
    display: flex;
   justify-content: space-evenly;
}
.servicelist div{
    background-color:  rgb(151, 151, 173);
    height:fit-content;
    margin-left: 3px;
    border-radius: 3px;
    margin-right: 3px;
    transition: .5s;
    color: black;
    
}

.readmorelink{
    color: black;
    border-radius: 5px;
    background-color: white
}

.readlesslink{
    color: black;
    border-radius: 5px;
    background-color: white
}
.readmore{
    display: none;
}
.readmore-show{
    display: inline;
}
.readlesslink{
    display: none;
}


/*----------------hub pic--------*/
.hub{
    height: 100vh;
    margin-top: 20px;
    

}

.hubcontainer{
    width: 100%;
    height: 100vh;
    text-align: center;
}


.hublists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 30px;


}

.hubpic{
    width: 30%;
    height: 60vh;
    align-items: center;
    position: relative;
    bottom: 10px;
    
}
.hubpic img{
    width: 90%;
    height: 80%;

    border-radius: 5px;
}
.layer{

    width: 90%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),grey);
    border-radius: 10px;
    position: absolute;
    left: 22px;
    bottom: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    text-align: center;
    justify-content: center;
    transition: height 0.5s;
   
   
}
.hubpic:hover .layer{
    height: 85%;
    padding-top: 30px;
}




.contactus{
    height: 90vh;
    

}
.contactcontainer{
    height: 80vh;
    width: 100%;
    display: flex;

    justify-content: space-evenly;
   

}
.leftcontact{
    
    height: 80vh;
    width: 40%;
    background:linear-gradient(rgba(0,0,0,0.6),grey);
    display: block;
    color: white;
    border-radius: 5px;
    
    
   padding: 30px ;
}

.rightcontact{
    height: 80vh;
    width: 50%;
    background:linear-gradient(rgba(0,0,0,0.6),grey);
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
iframe{
    border-radius: 5px;
}

.formcont{
    margin-left: 40%;

}


/*------------------form styling---------*/

form{
    height: 50vh;
    display: grid;
    width: 80vh;
    margin-top: 40px;
    margin-left: 30px;
}
form input{
    height: 40px;
    border-radius: 5px;
}
form textarea{
    height: 80px;
    border-radius: 5px;
    
}
form button{
    border: 2px blue solid;
    width: 10vh;
    height: 5vh;
    margin-top: 5px;
    border-radius: 5px;
}
.formcont{
    margin-right: 50%;
    width: 100%;

}
.contdec span{
    margin-left: 20px;
}
.leftcontact{
    font-size: 20px;
    
}
.social{
    margin-top: 20px;
    font-size: 30px;
}
.social a{
    color: rgb(10, 236, 179);
    margin-left: 10px;
}
.downld{
    background-color: rgb(240, 115, 38);
    width: 50px;
    border-radius: 5px;
    height: 30px;
    text-decoration: none;
    color: white;
}



.policycontainer{
    width: 70%;
     padding: 100px;
      margin-left: 100px;
}
.bodubuildingvideo{
    width: 80%;
    border-radius: 5px;
    margin-left: 150px;
}
.bodybuildingcontainer{
    border-radius: 5px;
}
/*------------------mediq quesry css---------------*/


nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px) {
    .container{

        display:block ;
        
       
    }
   
    .about{
        height: auto;
        margin-bottom: 45px;
    }
    .abt-container{
        display: block;
        height: fit-content;
        margin-bottom: 45px;
    }
    .box{
        margin-top: 60px;
        width: 400px;
    }

    .uscontainer{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: 30vh;
        display: flex;
        flex-wrap: wrap;
    }
    .ourservices{
        margin-top: 100px;
    }
    .rightus{
        height: 50vh;
        width: 40%;
    }
    .leftus{
        width: 100%;
        height: fit-content;
        background-color: rgb(5, 5, 7);
        margin-left: 30px;
        border-radius: 5px;
        color: white;
        transition: .5s;
    }

    .rightus{
        width: 0%;
        height: 0;
        background-image: url("./images/aboutcover.webp");
        background-position: center;
        background-size: cover;
    
    }
    .ourservices{
        height: 170vh;
    }
    .servicelist{
        margin-left: 5px;
        height: 80vh;
        margin-right: 5px;
        margin-top: 15px;
        display: grid;
       justify-content: space-evenly;
    }
 .servicelist div{
    margin-top: 20px;
 }
 .hub{
    margin-top: 80px;
    height: 180vh;
    width: 100%;
 }
 .hubcontainer{
    width: 100%;
 }
 .hublists{
    display: grid;
    width: 100%;
 }
 .hubpic{
    width: 100%;
 }

 .contactus{
    margin-top: 30px;
 }
 .contactcontainer{
    width: 100%;
    display: block;
    
 }
 .downld{
    background-color: blue;
    width: 170px;
    height: 60px;
 }
 .social{
    
 }
 .map{
    width: 300px;
 }
   
 iframe{
    width: 100%;
 }
 .leftcontact{
    margin-bottom: 90px;
    display: block;
    width: 100%;
    height: 50vh;
    
 }
  

 .rightcontact{
    margin-bottom: 90px;
    width: 100%;
    height: 55vh;

    
 }
 .formcont{
    width: 500px;
    display: flex;
    justify-content: left;
    
    
 }
 form{
    width: 300px;
    display: grid;
 }

 nav .fa-solid{
    display: block;
}
nav ul{
    background-color: orange;
    position: fixed;
    top: 0;
    right:-200px;
    width: 150px;
    height: 100vh;
    padding-top: 50px;
    transition: right .5s;
    
}
nav ul li{
    display: block;
    margin: 30px;
}

nav ul .fa-solid{
    position: absolute;
    top:30px;
    left: 30px;
    cursor: pointer;
    font-size: 30px;

}
.membercontainer{
    height:50vh;
    width: 100%;
    display: block;
 
   
}

.membership{
    height:100vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}
 
 
.type1{
    margin-top: 10px;
   
    width: 100%;
    height: 30vh;
margin-bottom: 10px;
   
    
}

.mainhead{
    color: white(213, 181, 181);
    font-family: Georgia, serif;
    margin-top:10px;
    margin-left: 8px;
}

.policycontainer{
  
    
    padding: 0px; 
    margin-left: 0px;
    width: 100%;
}

.bodubuildingvideo{
    width: 50%;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
}

}
    
